<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="header">
        <h1 class="header-tit">Template</h1>
        <!-- <div class="header-info"></div> -->
        <ul class="header-menu">
            <li class="menu-item"><a href="#" class="menu-link on">Home</a></li>
            <li class="menu-item"><a href="#" class="menu-link">About</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Guest</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Admin</a></li>
        </ul>
        <div class="lnb">
            <ul class="lnb-menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">First</a>
                    <ul class="lnb-menu-sub">
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 1</span></a></li>
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 2</span></a></li>
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 3</span></a></li>
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 4</span></a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#" class="menu-link">Second</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Third</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Fourth</a></li>
            </ul>
        </div>
        <div class="btn-menu-lnb">
            <a href="#" id="btnLnbMenu" class="btn-menu">
                <span class="middle-bar"></span>
            </a>
        </div>
        <div class="btn-user-lnb">
            <a href="#" id="btnLnbUser">
                <span class="icon-user sp"></span>
            </a>
        </div>
    </div>    
    <div class="container">
        <div class="contents">
            <h2 class="contents-tit">Link</h2>
            <a href="#" class="link"><span class="txt-link">Hello</span></a>

            <h2 class="contents-tit">Card</h2>
            <ul class="contents-list">
                <li class="list-item">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="tit">title</h3>
                            <span class="info">30 min</span>
                        </div>
                        <div class="card-contents">
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus ornare tellus, nec pharetra odio aliquet sed. Praesent porttitor urna sit amet turpis pulvinar, in sagittis magna aliquet. Suspendisse eget rhoncus nisi. Nam diam turpis, tempor quis tempor eget, egestas ut odio. Quisque ac pretium ligula. Curabitur elementum diam vitae fringilla posuere. Vestibulum blandit magna eget nunc sagittis, sit amet scelerisque leo ultricies. Cras a fringilla urna.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="card">
                        <div class="card-header card-img-header" style="background-image:url(../assets/images/@sample.png);">
                            <h3 class="tit">title</h3>
                            <span class="info">30 min</span>
                        </div>
                        <div class="card-contents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus ornare tellus, nec pharetra odio aliquet sed. Praesent porttitor urna sit amet turpis pulvinar, in sagittis magna aliquet. Suspendisse eget rhoncus nisi. Nam diam turpis, tempor quis tempor eget, egestas ut odio. Quisque ac pretium ligula. Curabitur elementum diam vitae fringilla posuere. Vestibulum blandit magna eget nunc sagittis, sit amet scelerisque leo ultricies. Cras a fringilla urna.
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="card">
                        <div class="card-contents card-label">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus ornare tellus, nec pharetra odio aliquet sed. Praesent porttitor urna sit amet turpis pulvinar, in sagittis magna aliquet. Suspendisse eget rhoncus nisi. Nam diam turpis, tempor quis tempor eget, egestas ut odio. Quisque ac pretium ligula. Curabitur elementum diam vitae fringilla posuere. Vestibulum blandit magna eget nunc sagittis, sit amet scelerisque leo ultricies. Cras a fringilla urna.
                        </div>
                    </div>
                </li>
            </ul>

            <h2 class="contents-tit">Button</h2>
            <ul class="contents-list">
                <li class="list-item">
                    <button class="btn">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
                    </button>
                    <button class="btn">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                    </button>
                    <button class="btn">
                        <span class="btn-txt">Button Default</span>
                    </button>
                    <button class="btn btn-loading">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
                    </button>
                </li>
                <li class="list-item">
                    <button class="btn btn-dia">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
                    </button>
                    <button class="btn btn-dia">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                    </button>
                    <button class="btn btn-dia">
                        <span class="btn-txt">Button Default</span>
                    </button>
                    <button class="btn btn-dia btn-loading">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
                    </button>
                </li>
                <li class="list-item">
                    <button class="btn btn-round">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
                    </button>
                    <button class="btn btn-round">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                    </button>
                    <button class="btn btn-round">
                        <span class="btn-txt">Button Default</span>
                    </button>
                    <button class="btn btn-round btn-loading">
                        <span class="btn-txt">Button Default</span>
                        <span class="btn-icon"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">

    </div>
    <script src="../assets/js/style.js"></script>
    <script>
        app.toggleLnbMenu();
    </script>
</body>
</html>