<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="header">
        <h1 class="header-tit">Template</h1>
        <!-- <div class="header-info"></div> -->
        <ul class="header-menu">
            <li class="menu-item"><a href="#" class="menu-link on">Home</a></li>
            <li class="menu-item"><a href="#" class="menu-link">About</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Guest</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Admin</a></li>
        </ul>
        <div class="lnb">
            <ul class="lnb-menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">First</a>
                    <ul class="lnb-menu-sub">
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 1</span></a></li>
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 2</span></a></li>
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 3</span></a></li>
                        <li><a href="#" class="menu-link-sub link"><span class="txt-link">First Child 4</span></a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#" class="menu-link">Second</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Third</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Fourth</a></li>
            </ul>
        </div>
        <div class="btn-menu-lnb">
            <a href="#" id="btnLnbMenu" class="btn-menu">
                <span class="middle-bar"></span>
            </a>
        </div>
        <div class="btn-user-lnb">
            <a href="#" id="btnLnbUser" class="btn">
                <span class="icon-user sp"></span>
            </a>
        </div>
    </div>    
    <div class="container">
        <div class="contents">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada risus magna, nec vulputate magna hendrerit et. Sed tristique lacus lectus, interdum auctor tellus molestie ac. Nulla eget dolor dignissim nulla feugiat fringilla in eget neque. Vivamus molestie ante mauris, id dignissim ligula interdum semper. Curabitur fermentum vehicula nisi at iaculis. Donec at consectetur sapien. Praesent imperdiet metus ac dolor pharetra, feugiat tincidunt felis euismod. Donec bibendum neque rutrum, bibendum sem at, pretium urna.
            
            Donec bibendum, diam eu congue scelerisque, neque nibh ultrices leo, quis faucibus nulla tortor eu velit. Nulla at euismod lectus. Integer fermentum dignissim risus vitae porta. Sed varius eros id vehicula rhoncus. In at odio nisl. Pellentesque cursus sagittis erat, at congue turpis fringilla eget. Donec vestibulum odio eleifend turpis consectetur, congue fermentum odio ullamcorper. Nullam vel lacus tincidunt, placerat elit mattis, varius nisi. Phasellus nec nulla eu felis porta tincidunt id nec urna. Pellentesque nisi erat, luctus ut dui vel, pulvinar euismod justo. Pellentesque cursus quis erat sit amet luctus.
            
            Suspendisse lobortis nibh at nibh tincidunt suscipit. Donec non ligula lobortis, dignissim tortor et, egestas ligula. Nulla auctor lacus laoreet volutpat pellentesque. Nullam eu euismod lacus. Sed elementum eu felis id volutpat. Aenean sit amet lobortis risus. Vivamus lobortis mauris volutpat, porttitor eros ac, sollicitudin quam. Nulla facilisi. Fusce et tristique enim, a aliquet leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ipsum diam, tempus quis mollis nec, pulvinar non odio. Fusce consequat, nisl ut tristique lobortis, dolor eros dapibus felis, et elementum enim enim sit amet purus. Nulla accumsan mi eu lectus eleifend tempor. Donec tincidunt orci vestibulum nulla suscipit, eu pharetra est faucibus. Vestibulum tempus nulla sem, semper consequat turpis eleifend ut. Nullam sed augue suscipit, porttitor urna eget, euismod tellus.
            
            In venenatis lacus eu nunc egestas venenatis. Cras et urna leo. Suspendisse ac quam lobortis, pretium lorem sed, hendrerit nisi. In neque lectus, sollicitudin a tellus quis, eleifend consectetur nulla. Cras euismod facilisis orci, vel iaculis ligula congue ac. Cras in sagittis ante. Quisque sed egestas nulla. Nunc pretium dui non nisl laoreet, sed consectetur ex maximus. Nam viverra velit quis lectus tempus, eget porttitor erat ultricies.
            
            Cras laoreet porta felis, at tincidunt neque pellentesque non. Etiam non augue sollicitudin, facilisis enim at, imperdiet metus. Quisque viverra, mi nec sollicitudin rutrum, mi diam consequat mauris, aliquet varius turpis ligula et erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent congue sodales dictum. Phasellus commodo viverra odio, quis vehicula massa. Ut nec consectetur nisl. Mauris eget mauris et orci vulputate vehicula aliquam eget dolor. Maecenas interdum cursus auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam hendrerit a risus vitae porttitor. Suspendisse viverra justo eget sollicitudin faucibus.
        </div>
    </div>
    <div class="footer">

    </div>
    <script src="../assets/js/style.js"></script>
    <script>
        app.toggleLnbMenu();
    </script>
</body>
</html>