.btn-menu {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility .3s linear, opacity .3s linear;
    transition: visibility .3s linear, opacity .3s linear ;
}
.btn-menu .middle-bar {
    position: absolute;
    top: 50%;
    left:0;
    width: 24px;
    height:2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
}
.btn-menu.on .middle-bar {
    opacity: 0;
}
.btn-menu:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: top .3s linear, transform .3s linear;
    transition: top .3s linear, transform .3s linear;
    content: ''
}
.btn-menu.on:before {
    top: 50%;
    -ms-transform: rotate(45deg);
    -webkit-transform:  rotate(45deg);
    transform: rotate(45deg);
}
.btn-menu:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: top .3s linear, transform .3s linear;
    transition: top .3s linear, transform .3s linear;
    content: ''
}
.btn-menu.on:after {
    top: 50%;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn {
    position: relative;
    overflow: hidden;
    height: 36px;
    padding: 9px;
    z-index: 0;
    background-color: #aaa;
    color: #fff;
    border-radius: 4px;
    vertical-align: top;
    transition: background-color .2s linear;
}
.btn.btn-dia {
    border-radius: 16px 0 16px 0;
}
.btn.btn-round {
    border-radius: 16px;
}
.btn:hover {
    background-color: #666;
}
/* .btn:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0;
    background-color: rgba(0,0,0, .2);
    z-index: -1;
    transition: all .2s linear;
    text-align: center;
    content: '';
}
.btn:hover:before {
    left: 0;
    width: 100%;
} */

.btn.btn-loading .btn-txt {
    visibility: hidden;
}
.btn.btn-loading .btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-left: none;
}

.btn-txt {
    float: left;
    padding-right: 8px;
}

.btn-icon {
    display: inline-block;
    height: 18px;
    padding-left: 8px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}
