.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4em;
    color: #333;
}
.link:hover {
    color: #0d7291;
}
.link:after {
    position: absolute;  
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #0d7291;;
    transition: all .2s linear;
    content:'';
}
  
.link:hover:after {
    left: 0;
    right: 0;
    width: 100%;
}