.contents { 
    padding: 0 40px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.contents-tit {
    margin:20px 0 10px;
    font-size: 24px;
    /* font-weight: bold; */
    color: #333;
    border-bottom: 1px solid #eee;
}
.contents-tit .tit-sub {
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

.contents-list {

}

.contents-list .list-item {
    padding-bottom: 20px;
}

